{{ define "main" }}
  <div class="container grid-lg">
    <div class="columns">
      <div class="hero-container column col-md-12">
        <div class="courses-hero">
          <div class="hero-img">
            <img src="{{ .Params.images }}" alt="{{ .Title }} - {{ .Description }}" loading="lazy">
          </div>
          <div class="hero-content">
            <h1 class="hero-title">{{ .Title }}</h1>
            <h2 class="hero-subtitle">{{ .Description }}</h2>
          </div>
        </div>
        <div class="courses-hero">
          {{ range .Params.members }}
            <a href="/{{ .slug }}" class="tag-item courses-tag">{{ .name }}</a>
          {{ end }}
        </div>
      </div>
    </div>
    <div class="columns">
      <div class="content-container column col-md-12">      
        <div class="near-content">
          <div class="content-widget markdown">
            <h2 class="content-title">About {{ .Title }}</h2>
            {{ .Content }}
          </div>
        </div>
      </div>
    </div>
  </div>
{{ end }}