{{ define "main" }}
  <div class="container grid-lg">
    <div class="columns">
      <div class="hero-container column col-md-12">
        <div class="courses-hero">
          <div class="hero-content">
            <h1 class="hero-title">{{ .Title }}</h1>
            <h2 class="hero-subtitle">Recent articles on NEAR and ecosystem projects.</h2>
          </div>
        </div>
      </div>
    </div>
    <div class="columns">
      <div class="content-container column col-12">
        <div class="near-content">
          <div class="near-list-container columns">
            {{ range .Pages.ByDate.Reverse }}
              <div class="column col-4 col-lg-6 col-md-12">
                {{ partial "article.html" . }}
              </div>
            {{ end }}
          </div>
        </div>
      </div>
      
    </div>
  </div>
{{ end }}