{{ define "main" }}
  <div class="container grid-md">
    <div class="columns">
      <div class="hero-container column col-12 col-sm-12">
        <div class="courses-hero">
          <div class="hero-content text-center">
            <h1 class="hero-title">{{ .Title }}</h1>
            <!-- <h2 class="hero-subtitle">{{ .Description }}</h2> -->
            <div class="hero-subtitle">
              <span class="author">By <strong>{{ .Params.author }}</strong></span>
              <span class="date">on {{ .Date.Format "January 2, 2006" }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="columns">
      <div class="content-container column col-12 col-sm-12">
        <div class="near-content">
          <div class="content-widget article-content markdown">
            {{ .Content }}
          </div>
        </div>
      </div>
      <div class="sidebar-container column col-2 col-sm-12">
        {{- range .Params.projects }}
          {{ . }}
        {{ end }}
      </div>
    </div>
  </div>
{{ end }}